# Chép file này thành keystore.properties rồi điền thông tin khoá ký của bạn.
# keystore.properties và file *.jks KHÔNG được đưa lên GitHub (đã có trong .gitignore).
storeFile=chamdiem-release.jks
storePassword=doi-mat-khau-cua-ban
keyAlias=chamdiem
keyPassword=doi-mat-khau-cua-ban
